<div class="card" style="width: 15rem;">
    <img src="https://veja.abril.com.br/wp-content/uploads/2017/01/cao-labrador-3-copy.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Meg</h5>
        <p class="card-text">Sexo: Femea, Raça: labrador...</p>
        <a href="#" class="btn btn-primary">Adotar</a>
    </div>
</div>