<form action="">
    <input type="email" name="email" placeholder="E-mail"/>
    <input type="password" name="password" placeholder="Senha"/>
    <a href="signup">
        <button type="button">Criar Conta</button>
    </a>
        
    
    <button>Login</button>
</form>