<form action="">
    <input type="email" name="email" placeholder="E-mail"/>
    <input type="text" name="name" placeholder="Nome"/>
    <input type="password" name="password" placeholder="Senha"/>
    <a href="/"><button type="button">Voltar</button></a>
    <button>Criar Conta</button>
</form>